# Ignore node_modules directory
node_modules/
src/configs

# Ignore .env file
.env

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore npm debugging logs
npm-debug.log

# Ignore macOS metadata files
.DS_Store
